@inherits NavigationBase
@if (Navigator.Initialized)
{
    <div class="c-horizontal-navigation"
         style="@Styles"
         @onclick="HandleClick">

        <div class="header">
            <div class="menu-button">
                <a @onclick="() => Navigator.NavigationVisible = !Navigator.NavigationVisible">
                    <span class="@(Navigator.NavigationVisible ? "c-icon-chevron-up" : "c-icon-menu")"></span>
                </a>
            </div>
            <div class="branding">
                @Branding
            </div>
            <div class="horizontal-tree @(Navigator.NavigationVisible ? String.Empty : "hidden")"
                 role="navigation">
                <ul>
                    @foreach (var screen in Navigator.Screens)
                    {
                        <li class="level1">
                            <HorizontalNode Screen="@screen"
                                            Level="2"
                                            NodeClosed="@HandleNodeClosed" />
                        </li>
                    }
                </ul>
            </div>
            @AuthViews
        </div>
        <div class="main">
            <div class="scrollable-body">
                @foreach (var view in Navigator.OpenViews)
                {
                    <div class="c-window @(view.Visible ? String.Empty : "c-hide")"
                         @key="view.Path">
                        <div class="content">
                            <SegmentDisplayPlugin TypeName="@view.View"
                                                  Path="@view.Path"
                                                  Id="@view.Id"
                                                  Panes="@view.Panes"
                                                  ConfigJson="@view.ConfigJson" />
                        </div>
                    </div>
                }
                @Footer
            </div>
        </div>
    </div>
}