<div class="c-full c-centered c-overlay-parent">

    @if (Model.Activity.ContextAudioFile.Id.HasSomething())
    {
        <Padding Size="Padding.Sizes.Small">
            <AudioPlayer AudioFile="Model.Activity.ContextAudioFile"
                         PlayText="Listen"
                         StopText="Listen"
                         PlayIcon="c-icon-volume-high"
                         StopIcon="c-icon-volume-high"
                         MediaPlayed="HandleContextAudioPlayed">
            </AudioPlayer>
        </Padding>
    }

    @if (AssignmentBatchId.HasValue)
    {
        <h2>@(Model.Activity.ContentAreaAppNavText)</h2>
    }

    @if (Model.Activity.ContextText.HasSomething())
    {
        <div class="cec-context-text">
            @(Model.Activity.ContextText)
        </div>
    }

    @if (Model.Activity.ContextImageFile.Id.HasSomething())
    {
        <div class="cec-context-image">
            <Image ImageFile="Model.Activity.ContextImageFile" />
        </div>
    }

    @if (!Model.Bouncing)
    {
        <button @onclick="() => Model.Start()">
            <div class="c-button primary c-padding-large-hor">
                <div class="text">Start</div>
            </div>
        </button>
    }
    else
    {
        <button @onclick="() => Model.Stop()">
            <div class="c-button secondary c-padding-large-hor">
                <div class="text">Stop</div>
            </div>
        </button>
    }

    <div class="c-wrap center c-padding-medium-vert"
         style="min-height: 16em;">

        @foreach (var option in Model.Options)
        {
            <button class="cec-catch-choice c-margin-small"
                    style="@(option.PositionStyle)"
                    @onclick="() => Model.SelectChoice(option.Choice.Id!.Value)"
                    @key="option.Choice.Id">
                <div class="button-content c-button secondary center @(option.StateClass)"
                     style="position: relative;">
                    @if (option.Choice.ImageFile?.Id is not null)
                    {
                        <ImageDiv Width="160"
                                  ImageFile="option.Choice.ImageFile" />
                    }
                    @if (option.Choice.Text.HasSomething())
                    {
                        <div class="catch-text">
                            @(option.Choice.Text)
                        </div>
                    }
                    <AudioPlayer Hidden="true"
                                 AudioFile="option.Choice.AudioFile"
                                 MediaPlayed="mediaPlay => HandleChoiceAudioPlayed(option, mediaPlay)"
                                 @ref="option.AudioPlayerElement" />
                </div>
            </button>
        }
    </div>

</div>