<div class="c-full c-centered">

    @if (Model.Activity.ContextAudioFile.Id.HasSomething())
    {
        <Padding Size="Padding.Sizes.Small">
            <AudioPlayer AudioFile="Model.Activity.ContextAudioFile"
                         PlayText="Listen"
                         StopText="Listen"
                         PlayIcon="c-icon-volume-high"
                         StopIcon="c-icon-volume-high"
                         MediaPlayed="HandleContextAudioPlayed">
            </AudioPlayer>
        </Padding>
    }

    @if (AssignmentBatchId.HasValue)
    {
        <h2>@(Model.Activity.ContentAreaAppNavText)</h2>
    }

    @if (Model.Activity.ContextText.HasSomething())
    {
        <div class="cec-context-text">
            @(Model.Activity.ContextText)
        </div>
    }

    <div class="c-wrap top center">
        <div class="c-padding-small-hor">
            <h4>@(Model.ColumnATitle)</h4>
            <div class="c-stack center c-padding-medium-vert">
                @foreach (var destination in Model.ColumnADestinations)
                {
                    <button @onclick="() => Model.SelectColumnADestination(destination.TargetPiece!.Id!.Value)">
                        <div class="cec-choice squared c-button cancel @(destination.CssClass)">
                            <div class="text">@(destination.PlacedPiece?.Text)</div>
                        </div>
                    </button>
                }
            </div>
        </div>
        <div class="c-padding-small-hor">
            <h4>@(Model.ColumnBTitle)</h4>
            <div class="c-stack center c-padding-medium-vert">
                @foreach (var destination in Model.ColumnBDestinations)
                {
                    <button @onclick="() => Model.SelectColumnBDestination(destination.TargetPiece!.Id!.Value)">
                        <div class="cec-choice squared c-button cancel @(destination.CssClass)">
                            <div class="text">@destination.PlacedPiece?.Text</div>
                        </div>
                    </button>
                }
            </div>
        </div>
    </div>

    <div class="cec-context-text">First tap the piece, then tap where you want it to go.</div>

    <div class="c-wrap center c-padding-medium-vert">
        @foreach (var option in Model.Options)
        {
            <button class="c-padding-tiny"
                    @onclick="() => Model.SelectOption(option.Id!.Value)">
                <div class="cec-choice squared c-button cancel @(option.State == PieceModel.States.Default ? "default" : "selected")">
                    <div class="text">@(option.Text)</div>
                </div>
            </button>
        }
    </div>

</div>