@{
    const String flex = "Flex";
    const String width = "Width";
}
<div class="c-tabbed-panes vertical">
    <ul class="tabs secondary">
        <li class="@(Model.ActiveTab.IsBasically(flex) ? "selected" : String.Empty)"
            @onclick="() => Model.SetActiveTab(flex)">
            @flex
        </li>
        <li class="@(Model.ActiveTab.IsBasically(width) ? "selected" : String.Empty)"
            @onclick="() => Model.SetActiveTab(width)">
            @width
        </li>
    </ul>
    <div class="panes match-tab-color">
        <div class="@(Model.ActiveTab.IsBasically(flex) ? String.Empty : "c-hide")">
            <Padding Size="Padding.Sizes.Small"
                     Direction="Padding.Directions.Vertical">
                <Wrapped Alignment="Wrapped.Alignments.Top">

                    <Field Label="Basis"
                           Size="Field.Sizes.Tiny">
                        <Dropdown LookupValues="Model.BasisNames"
                                  @bind-Value="Model.Item.BasisId" />
                    </Field>
                    @if (!Model.Item.BasisId.Equals(BasisIds.Auto))
                    {
                        <Field Label="Amount"
                               Size="Field.Sizes.Micro"
                               Padding="Field.Paddings.TightLeft">
                            <TextBox MaxLength="10"
                                     Placeholder="@(Model.Item.BasisId.Equals(BasisIds.Fixed) ? "20em" : "100%")"
                                     @bind-Value="Model.Item.BasisAmount" />
                        </Field>
                    }
                    <Field Label="Grow"
                           Size="Field.Sizes.Micro">
                        <TextBox MaxLength="10"
                                 Placeholder="0"
                                 @bind-Value="Model.Item.Grow" />
                    </Field>
                    <Field Label="Shrink"
                           Size="Field.Sizes.Micro">
                        <TextBox MaxLength="10"
                                 Placeholder="1"
                                 @bind-Value="Model.Item.Shrink" />
                    </Field>
                    <Field Label="Align Self"
                           Size="Field.Sizes.Tiny">
                        <Dropdown LookupValues="Model.AlignSelfNames"
                                  @bind-Value="Model.Item.AlignSelfId" />
                    </Field>
                </Wrapped>
            </Padding>
        </div>
        <div class="@(Model.ActiveTab.IsBasically(width) ? String.Empty : "c-hide")">
            <Padding Size="Padding.Sizes.Small"
                     Direction="Padding.Directions.Vertical">
                <Wrapped Alignment="Wrapped.Alignments.Top">
                    <Field Label="Max Width"
                           Size="Field.Sizes.Medium"
                           Container="Field.Containers.Div">
                        <EnumRadio TEnum="OverrideState"
                                   @bind-SelectedValue="@Model.MaxWidthState"
                                   RadioCssClass="tight-bottom" />
                        <div class="c-min @(Model.MaxWidthState == OverrideState.Custom ? String.Empty : "c-hide")">
                            <TextBox MaxLength="10"
                                     Placeholder="36em"
                                     @bind-Value="Model.Item.MaxWidth" />
                        </div>
                    </Field>
                    <Field Label="Min Width"
                           Size="Field.Sizes.Medium"
                           Container="Field.Containers.Div">
                        <EnumRadio TEnum="OverrideState"
                                   @bind-SelectedValue="@Model.MinWidthState"
                                   RadioCssClass="tight-bottom" />
                        <div class="c-min @(Model.MinWidthState == OverrideState.Custom ? String.Empty : "c-hide")">
                            <TextBox MaxLength="10"
                                     Placeholder="24em"
                                     @bind-Value="Model.Item.MinWidth" />
                        </div>
                    </Field>
                    <Field Label="Width"
                           Size="Field.Sizes.Medium"
                           Container="Field.Containers.Div">
                        <EnumRadio TEnum="OverrideState"
                                   @bind-SelectedValue="@Model.WidthState"
                                   RadioCssClass="tight-bottom" />
                        <div class="c-min @(Model.WidthState == OverrideState.Custom ? String.Empty : "c-hide")">
                            <TextBox MaxLength="10"
                                     Placeholder="24em"
                                     @bind-Value="Model.Item.Width" />
                        </div>
                    </Field>
                </Wrapped>
            </Padding>
        </div>
    </div>
</div>
<div class="c-padding-small c-centered">
    <a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/"
       target="_blank">
        Layout Guide (Flexbox)
    </a>
</div>