<select @bind="Range.Type">
    <option value="@DateRange.Types.Any">Any</option>
    <option value="@DateRange.Types.InTheLastDay">In the last day</option>
    <option value="@DateRange.Types.InTheLastWeek">In the last week</option>
    <option value="@DateRange.Types.InTheLastMonth">In the last month</option>
    <option value="@DateRange.Types.InTheLastThreeMonths">In the last three months</option>
    <option value="@DateRange.Types.InTheLastSixMonths">In the last six months</option>
    <option value="@DateRange.Types.InTheLastYear">In the last year</option>
    <option value="@DateRange.Types.Custom">Custom date range</option>
</select>
@if (Range.Type == DateRange.Types.Custom)
{
    <div class="c-nowrap">
        <RadzenDatePicker @bind-Value="Range.StartDate"
                          DateFormat="MM/dd/yyyy" />
        <span>&nbsp;to&nbsp;</span>
        <RadzenDatePicker @bind-Value="Range.EndDate"
                          DateFormat="MM/dd/yyyy" />
    </div>
}